@model List<ExpenseTrackerViewModel>
@{
    Layout = null;
}
<table id="tbDataTable" class="display dataTable no-footer" style="min-width: 845px">
    <thead>
        <tr>
            <th>No</th>
            <th>Date</th>
            <th>Description</th>
            <th>Transaction Type</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@(item.date.ToString("dddd, dd MMMM yyyy"))</td>
                <td>@(item.description)</td>
                <td>@(item.transaction_type)</td>
                <td>@(item.amount)</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
           <th>No</th>
            <th>Date</th>
            <th>Description</th>
            <th>Transaction Type</th>
            <th>Amount</th>
        </tr>
    </tfoot>
</table>