@model ExpenseTrackerResponseViewModel
@{
    Layout = null;
    int id = 0;
}
<table id="tbDataTable" class="display dataTable no-footer" style="min-width: 845px">
    <thead>
        <tr>
            <th>No</th>
            <th>Date</th>
            <th>Description</th>
            <th>Transaction Type</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.lstExpenseTracker)
        {

            <tr>
                <td>@((Model.CurrentPageNo-1)*Model.RowCount + (++id))</td>
                <td>@(item.date.ToString("dddd, dd MMMM yyyy"))</td>
                <td>@(item.description)</td>
                <td>@(item.transaction_type)</td>
                <td>@(item.amount)</td>
            </tr>

        }

    </tbody>
</table>

<nav>
    <ul class="pagination">
        <li class="page-item"><button class="page-link" onclick="" href="javascript:void(0)">&laquo;</button></li>
        @{
            bool firstDesign = Model.CurrentPageNo <= 3 || Model.CurrentPageNo >= Model.CurrentPageNo - 2;
            bool secondDesign = !firstDesign;

            if (firstDesign)
            {
                for (int i = 1; i <= 4; i++)
                {
                    if (i == Model.CurrentPageNo)
                    {
                        <li class="page-item active">
                            <button class="page-link" onclick="fetchYearData(@i)">@i</button>
                        </li>
                    }
                    else
                    {
                        <li class="page-item"><button class="page-link" onclick="fetchYearData(@i)">@i</button></li>
                    }
                }
                <li class="page-item"><a class="page-link" href="javascript:avoid(0)">.....</a></li>

                for (int i = Model.TotalPageNo - 3; i <= Model.CurrentPageNo; i++)
                {
                    if (i == Model.CurrentPageNo)
                    {
                        <li class="page-item active">
                            <button class="page-link" onclick="fetchYearData(@i)">@i</button>
                        </li>
                    }
                    else
                    {
                        <li class="page-item"><button class="page-link" onclick="fetchYearData(@i)">@i</button></li>
                    }
                }
            }
            else if (secondDesign)
            {
                int start = 1;
                <li class="page-item active">
                    <button class="page-link" onclick="fetchYearData(@start)">@start</button>
                </li>
                <li class="page-item"><a class="page-link" href="javascript:avoid(0)">.....</a></li>
                for (int i = Model.CurrentPageNo - 2; i <= Model.CurrentPageNo + 2; i++)
                {
                    if (i == Model.CurrentPageNo)
                    {
                        <li class="page-item active">
                            <button class="page-link" onclick="fetchYearData(@i)">@i</button>
                        </li>
                    }
                    else
                    {
                        <li class="page-item"><button class="page-link" href="fetchYearData(@i)">@i</button></li>
                    }
                }
                <li class="page-item"><a class="page-link" onclick="javascript:avoid(0)">.....</a></li>
                <li class="page-item active">
                    <button class="page-link" onclick="fetchYearData(@Model.TotalPageNo)">@Model.TotalPageNo</button>
                </li>
            }
        }
        <li class="page-item"><button class="page-link" onclick="" href="javascript:void(0)">&raquo;</button></li>
    </ul>
</nav>
